<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-xs-4">
      <div class="thumbnail">
        <img src="..." alt="...">
        <h3>Przepisy</h3>
        <%= link_to 'Przepisy', dishes_path %>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-xs-4">
      <div class="thumbnail">
        <img src="..." alt="...">
        <h3>Aktualna lista zakup贸w</h3>
        <%= link_to 'Aktualna lista zakup贸w', products_path %>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-xs-4">
      <div class="thumbnail">
        <img src="..." alt="...">
        <h3>Uniwersalna lista zakup贸w</h3>
        <%= link_to 'Uniwersalna lista zakup贸w', products_path %>
      </div>
    </div>
  </div>
</div>